*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 1rem;
    background-color: #020617;
    color: #e5e7eb;
}

h1{
    text-align: center;
    margin-bottom: 2rem;
}

section{
    margin-bottom: 2rem;
}

.caja{
    width: 60px;
    height: 60px;
    background-color: blue;
    color: white;
    padding: 1rem;
    margin: 0.05rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.contenedor-1{
    border: 1px dashed #4b5563;
    padding: 1rem;

    display: flex;
}

.contenedor-2{
    border: 1px dashed #4b5563;
    padding: 1rem;

    display: flex;
    flex-direction: row;
}

.contenedor-3{
    border: 1px dashed #4b5563;
    padding: 1rem;

    display: flex;
    flex-direction: row;

    justify-content: space-around; /* alineacion en horizontal (ROW)*/
    align-items: flex-start; /* alineacion en vertical (Column en flex-direction)*/
}