body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.start {
    font-family: 'Arial', sans-serif;
    background-color: beige;
    color: darkblue;
}

img{
    width: 200px;
    height: 150px;
}

button{
    display: block;
    background-color: grey; /* Color inicial del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red; /* Color del botón cuando el ratón pasa por encima */
}

#box-model{
    margin: 15px;           /* espacio externo */
    padding: 12px;          /* espacio interno */
    border: 1px solid #d1d5db;
}

.box-demo{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid red;
    margin: 15px;
    background-color: red;
    color: aliceblue;
}