body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.start {
    font-family: 'Arial', sans-serif;
    background-color: beige;
    color: darkblue;
}

img{
    width: 200px;
    height: 150px;
}

button{
    display: block;
    background-color: grey; /* Color inicial del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: red; /* Color del botón cuando el ratón pasa por encima */
}

#box-model{
    margin: 15px;           /* espacio externo */
    padding: 12px;          /* espacio interno */
    border: 1px solid #d1d5db;
}

.box-demo{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid red;
    margin: 15px;
    background-color: red;
    color: aliceblue;
}

#box-sizing-demo{
    margin-top: 40px;
}

.box-cb,
.box-bb{
    padding: 20px;
    border: 5px solid rgb(23, 19, 130);
    margin-bottom: 15px;
    background-color: red;
    color: aliceblue;
}

.box-cb{
    width: 200px;
    box-sizing: content-box;
}

.box-bb{
    width: 200px;
    box-sizing: border-box;
    background-color: green;
}

h1{
    color: orange;
}

.mi-clase h1{
    color: aqua;
}

li{
    color: rgb(0, 255, 72);
}

.mi-clase li{
    color: aquamarine;
}

#espe{
    color: rgb(192, 110, 17);
}

.science-gothic-uniquifier {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}